body{
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

:root{
    --gradiant-bg: radial-gradient(circle at 3% -6%,rgba(255,218,161,.59),hsla(0,0%,100%,0) 68%),linear-gradient(180deg,#e9ffe2,#e9ffe2);
    --blue-btn: #1983dd;
    --blue-hover-btn:#156fbc;
    --bs-warning:#e79a0c;
    --bs-danger:#dc3545;
    --bs-info:#0dcaf0;
    --open-sans: 'Open Sans', sans-serif;
    --title-text-color: #080A2D;
    --para-texr-color: #333 ;
    --link-text-color: #888;
    --text-primary: #1983dd;
    --bs-gray-500: #adb5bd;
    --bs-dark-rgb: 33,37,41;
    --bs-warning-rgb: 231,154,12
}

h1, h2{    
/* font-family: 'Merriweather', serif; */
font-family: 'Roboto', sans-serif;
color: var(--title-text-color);
font-size: calc(1.250rem + 1vw);
}

h3, h4{
    font-family: 'Montserrat', sans-serif;
    color: var(--title-text-color);
}
/* font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif; */
h1, 
h2,
h3,
h4,
h5,
h6{
    margin-top: 1rem;
    font-weight: 700;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
}
a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    outline: 0;
    transition: all 0.3s ease-in-out;
    color: var(--text-primary) ;
}
i{
    transition: all 0.3s ease-in-out;
}
a:hover{
    color: #1469b1
}
.px-18 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
}
.py-7 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}
.py-8 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.my-7 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}
.my-8 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.my-9 {
    margin-top: 4rem!important;
    margin-bottom: 4rem!important;
}
.mt-9 {
    margin-top: 4rem!important;
}
.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
}

.business-link:hover{
    border-color: rgba(var(--bs-warning-rgb),.5)!important;
    color: #e79a0c!important;
}

.bg-cyan {
    background: radial-gradient(100% 100% at 100% 0,rgba(163,255,183,.5) 0,hsla(0,0%,100%,0) 100%),#daeeff!important;
}

/* Nav bar */
.nav-link {    
    color: var(--title-text-color);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--para-texr-color);
}
.nav-link:hover{
    color: var(--title-text-color);
}
.navbar-toggler {
    color: rgb(0 0 0);
    padding: 10px;
    background-color: var(--title-text-color);
}
.dropdown-menu {  
    min-width: 100%;   
}
.dropdown:hover>.dropdown-menu {
    display: block;
    left: 0;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

h3.menu-title {
    font-size: 0.875em;
}

.fa-light, .fasl {
    font-weight: 300;
}
.fa-fw {
    text-align: center;
    width: 1.25em;
}
.fa-classic, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fal, .far, .fas, .fat {
    font-family: "Font Awesome 6 Pro";
}
/* .fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, .fa-regular, .fa-sharp, .fa-sharp-solid, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fasl, .fasr, .fass, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
} */
.Page_icon {
    font-size: 30px;
    opacity: .5;
}
.mega-content a:hover{
    color:var(--blue-btn) !important;
}
a.btn.btn-link:hover {
    background-color: #0000d024;
}
.btn-link{
    text-decoration: none;
}
.hero-section ul.list-item {
    font-size: 20px;
}
ul.list-item {
    padding: 0;
}


.bg-md-light-green {
    background: radial-gradient(circle at 3% -6%,rgba(255,218,161,.59),hsla(0,0%,100%,0) 68%),linear-gradient(180deg,#e9ffe2,#e9ffe2)!important;
}

.exit-container-lg {
    width: 100vw;
    margin-left: -.75rem;
    --bs-gutter-x: 0.75rem;
}
.DeviceFrame_myDeviceFrame__k6_8f.DeviceFrame_iphone_iphone__2JZZd .DeviceFrame_iPhone__91dnW:first-child {
    z-index: 2;
    margin-left: -50%;
}
.DeviceFrame_myDeviceFrame__k6_8f.DeviceFrame_iphone_iphone__2JZZd .DeviceFrame_iPhone__91dnW:last-child {
    width: 100%;
    z-index: 1;
    position: absolute!important;
    right: -20%;
    transform: scale(.95);
}


/* Testimonials */
.carousel {
	width: 100%;
	/* width: 650px; */
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .carousel-item {
	color: #212529;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	/* min-height: 340px; */
}
.carousel .carousel-item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 7%;
	/* width: 145px; */
	/* height: 145px; */
	margin: 0 auto;
}

.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #999;
	text-shadow: none;
	top: 4px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control-prev {
	left: auto;
	right: 40px;
}
.carousel-control-next i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 30px;
    height: 3px;
    margin: 1px 5px;
    width: 30px;
    height: 3px;	
    box-sizing: content-box;
    padding: 0;    
    text-indent: -999px;
    cursor: pointer;
    background-color: #1983dd;
    background-clip: padding-box;
    border: 0;
        
}
.carousel-indicators li {	
	background: #1983dd;
	border: none;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators li.active {		
	background: #1983dd;
    opacity: 1;		
}

/* Bootm form Prueba Poster gratis */
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}
/* // workaround */
.intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

/* Footer */

.social-links a i:hover{
    color: var(--text-primary);
}

@media (min-width:1200px) {
  
    .exit-container-lg {
        margin-left: calc(-.28*(100vw - 1140px) - .75rem);
    }
    .h1, h1 {
        font-size: 3rem;
    }
}
@media (min-width:992px) {
    .exit-container-lg {
        margin-left: calc(-.28*(100vw - 960px) - .75rem);
    }
    .g-lg-8, .gy-lg-8 {
        --bs-gutter-y: 3rem;
    }
}

